$light-black: hsl( 202, 65%, 3% );
$dark-white: hsl( 83, 100%, 96% );
$darker-blue: hsl( 220, 39%, 16% );
$dark-blue: hsl( 220, 39%, 21% );
$medium-blue: hsl( 220, 39%, 41% );
$pale-blue: hsl( 220, 39%, 91% );
$purple: hsl( 280, 59%, 39% );
$darker-orange: hsl( 41, 94%, 31% );
$dark-orange: hsl( 41, 94%, 41% );
$orange: hsl( 41, 94%, 51% );
$medium-orange: hsl( 41, 94%, 71% );
$light-orange: hsl( 41, 94%, 91% );
$pale-green: hsl( 146, 100%, 84% );


$darker-gray: hsl( 41, 4%, 31% );
$dark-gray: hsl( 41, 4%, 41% );
$gray: hsl( 41, 4%, 51% );
$medium-gray: hsl( 41, 4%, 71% );
$light-gray: hsl( 41, 4%, 81% );