/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
.env
/.env
.nrepl-port

# Dependencies
/node_modules
package-lock.json

# Log files
/log
_logs/

# OS files
.DS_Store

# Manually added below here
/.idea
/resources/public/dist
get-pip.py
