* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

body {
	background: $body-background-color;
	color: $body-color;
	font: 400 1rem/1.5 $font-stack-primary;
  margin: 0;
	overflow-y: auto;
}
