* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

body {
	background: $body-background-color;
	color: $body-color;
	font-family: $font-stack-primary;
	font-size: 1rem;
  line-height: 1.5;
  margin: 0;
	overflow-y: auto;
}
