* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

body {
	background: $dark-white;
	color: $light-black;
	font: 400 1rem/1.5 $font-stack-primary;
  margin: 0;
	overflow-y: auto;
}
