/* TODO (paulshryock): Add brand colors */
$light-black: hsl( 202, 65%, 3% );
$dark-white: hsl( 83, 100%, 96% );
$dark-blue: hsl( 220, 39%, 21% );
$purple: hsl( 280, 59%, 39% );
$orange: hsl( 41, 94%, 51% );
$dark-orange: hsl( 41, 94%, 31% );
$pale-green: hsl( 146, 100%, 84% );