/**
  * Import web fonts
  */
@import './fonts/*.css';

/**
  * Declare font stacks
  */
$font-stack-primary: 'Rubik', Roboto, Helvetica, Arial, sans-serif;
$font-stack-secondary: 'Inter', 'Rubik', Roboto, Helvetica, Arial, sans-serif;
$font-stack-code: 'Fira Code', Courier, monospace;
