@import './reset.css';

html {
  font: 400 1rem/1.5 sans-serif;
}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em;
}

[class*='ratio-'] {
  display: block;
  position: relative;

  > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.aspect-ratio {

  &-wide {
    padding-top: 56.25%;
  }

  &-square {
    padding-top: 100%;
  }
}

.login {}

.signup {}

.leaderboard {}
