[class*='ratio-'] {
  display: block;
  position: relative;

  > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.aspect-ratio {

  &-wide {
    padding-top: 56.25%;
  }

  &-square {
    padding-top: 100%;
  }
}