.bets {
  font-size: 0.85em;

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    grid-column: -2;
    grid-row: 2;
  }

  &__header {
    background: $orange;
    color: $light-black;
    padding: 0.25em 0.5em;
  }
}