  .button {
    background: $orange;
    border: none;
    border-bottom: 0.25em solid $darker-orange;
    color: $dark-blue;
    cursor: pointer;
    font-family: $font-stack-secondary;
    font-weight: 600;
    padding: 0.5em;

    &:hover,
    &:focus,
    &:active {
      background: $medium-orange;
      border-color: $dark-orange;
      outline: 0.25em solid $purple;
    }
  }