.form {

  &__hr {
    margin: 0 0 $space;
  }

  &__header {
    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      align-items: center;
      display: flex;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      margin-bottom: 1rem;
    }

    + .form__description {
      @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
        margin-left: 1em;
      }
    }
  }

  &__fieldset {
    background: $light-black;
    border: 0.25em solid $orange;
    color: $dark-white;
    padding: 1.5em;
    
    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      display: grid;
      grid-gap: $space;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    
    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      @supports (display: grid) {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    font-family: $font-stack-code;
    font-size: 0.75em;
    line-height: 1;
    margin: 0 0 0.5rem 0.5rem;
  }

  &__input {
    background: $pale-blue;
    border: none;
    color: $light-black;
    padding: 0.25em 0.5em;

    &:hover,
    &:focus {
      background: $dark-white;
      outline: 0.25em solid $purple;
    }
  }

  &__button {
    align-self: end;
    justify-self: start;
  }
}