.leaderboard {
  font-size: 0.85em;

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    grid-column: 1 / -1;
  }

  @media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
    grid-column: 1 / -2;
  }

  &__container {
    @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
      display: grid;
      grid-column-gap: $space;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__header {
    background: $orange;
    color: $light-black;
    padding: 0.25em 0.5em;

    @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
      grid-column: 1 / -1;
    }

    &--primary {
      background: none;
      padding: 0;
    }
  }

  &__section + &__section {
    margin-top: $space;

    /* Working... */
    height: 23.75em;
    max-height: 23.75em;
    overflow-y: scroll;

    @supports(display: grid) {
      @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
        margin-top: 0;
      }
    }

  }

  &__title {
    color: $dark-white;
    font-size: 1.25em;
  }

  &__subtitle {
    font-size: 1em;
    margin-bottom: 0;
  }

  &__table {
    background: $dark-blue;
    width: 100%;
  }

  &__thead {
    /* TODO (paulshryock): Fix sticky */
    position: sticky;
  }

  &__th {
    background: $darker-blue;
    color: $orange;
    padding: 0.25em 0.5em;
    text-align: left;

    + .leaderboard__th {
      border-left: 1px solid $light-black;
    }
  }

  &__td {
    border-top: 1px solid $light-black;
    padding: 0.25em 0.5em;
    color: $dark-white;
    font-family: $font-stack-code;

    + .leaderboard__td {
      border-left: 1px solid $light-black;
      color: $dark-white;
    }
  }
}