/**
  * This component depends on .form
  * TODO (paulshryock): Refactor component to be independent from .form
  **/
.form--login {
  background: $dark-blue;
  color: $dark-white;

  .form__fieldset {
    background: $light-black;
    border: 0.25em solid $orange;
    margin: 0 auto;
    max-width: 48rem;
    
    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      display: grid;
      grid-gap: $space;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

.login {
  &__buttons {
    display: flex;
    justify-content: space-between;
   }
}

.button--login:not(.is-active) {
  background: $medium-gray;
  border-color: $gray;
  outline: none;

&:hover,
&:focus,
&:active {
   background: $light-gray;
   border-color: $medium-gray;
 }
}
