.site-header {
  background: $dark-blue;
  border-top: 0.25em solid $orange;
  color: $dark-white;
  padding: 1.5em;

  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    align-content: center;
    display: flex;
    justify-content: flex-start;

    &__branding + * {
      margin-left: 0.5em;
    }
  }

  &__title {
    color: $orange;

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      margin: 0;
    }
  }

  & &__title {

    a {

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}