.site-header {
  background: $dark-blue;
  border-top: 0.25em solid $orange;
  color: $dark-white;

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}