.site-navigation {
  padding: 0.35rem 1rem;

  /*TODO DROP SHADOW COLOR, this also adds a shadow to the top which we dont want*/
  /*drop shadow*/
  /*box-shadow: 0 0.125em 0.5em 0 hsl( 0, 0%, 10% ),*/
  /*0 0.125em 0.25em 0 hsla( 0, 0%, 10%, 50% );*/

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    align-content: center;
    display: flex;
    justify-content: flex-start;
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}