.site-logo {
  height: calc( 1 * 1.8rem );
  width: calc( 1 * 8.25rem );

  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    height: calc( 1.1 * 1.8rem );
    width: calc( 1.1 * 8.25rem );
  }

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    height: calc( 1.15 * 1.8rem );
    width: calc( 1.15 * 8.25rem );
  }

  @media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
    height: calc( 1.275 * 1.8rem );
    width: calc( 1.275 * 8.25rem );
  }

  @media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */
    height: calc( 1.35 * 1.8rem );
    width: calc( 1.35 * 8.25rem );
  }

&__big {
 margin: 0.5rem;

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
  height: calc( 1.35 * 1.8rem );
  width: calc( 1.25 * 8.25rem );
}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
  height: calc( 1.5 * 1.8rem );
  width: calc( 1.4 * 8.25rem );
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
  height: calc( 1.85 * 1.8rem );
  width: calc( 1.75 * 8.25rem );
}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */
  height: calc( 2.15 * 1.8rem );
  width: calc( 2 * 8.25rem );
}

}
}