.site-footer {
  background: $dark-blue;
  border-bottom: 0.25em solid $orange;
  color: $dark-white;

  &__hr {
    margin: 0 1.5em;
  }

  &__content {

    a {

      &:hover,
      &:focus,
      &:active {
        color: $orange;
      }
    }
  }
}