.site-header {
  background: $dark-blue;
  border-top: 0.15em solid $orange;
  color: $dark-white;

/*  stick to top */
  z-index: 1;
  position: sticky;
  top: 0;
}

.hamburger {
  width: 26px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
}
