.site-branding {

  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    align-items: center;
    display: flex;

    + * {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title {
    color: $orange;
    margin: 0;
  }

  & &__title {

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}