.suggestion {
    &__input {
         flex-grow: 3;
         margin-right: 1em;
     }
     &__button {
          width: auto;

        &:not(.is-active) {
            background: $medium-gray;
            border-color: $gray;
            outline: none;
        }
    }
}