.twitch {
  position: relative;

  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    grid-column: 1 / -1;
  }

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    grid-column: 1 / -2;
    grid-row: 1 / span 3;
  }

  &__title {
    font-family: $font-stack-secondary;
    font-size: 1.5em;
    font-weight: 700;
    color: $dark-white;
    margin: 0;

    + .twitch__placeholder {
      margin-top: $space;
    }
  }

  &__subtitle {
    font-family: $font-stack-secondary;
    font-size: 1.5em;
    font-weight: 700;
    color: $orange;
    margin-bottom: 0.5em;
  }

  &__message {
    font-family: $font-stack-secondary;
    color: $dark-white;
   }

  &__embed {
    display: block;
    padding-top: calc(56.25% * 2);
    position: relative;

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      padding-top: 56.25%;
    }

    > * {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__stream {
    position: relative;
    width: 75%;

    &:before{
      content: '';
      display: block;
      padding-top: 56.25%; /* 16:9 */
    }

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__chat{
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      display: none;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__placeholder {
    background: $darker-blue;
    padding-bottom: 25%;
  }
}