.twitch {
  display: grid;
  grid-template-rows: auto auto minmax(300px, auto);
  position: relative;

  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    grid-column: 1 / -1;
  }

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    grid-column: 1 / -2;
    grid-row: 1 / span 2;
  }

  @media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
    grid-template-columns: 3fr 1fr;
    grid-template-rows: unset;
  }

  &__header {
    grid-column: 1 / -1;
  }

  &__title {
    font-family: $font-stack-secondary;
    font-size: 1em;
    font-weight: 700;
    color: $dark-white;
    margin: 0;

    + .twitch__placeholder {
      margin-top: $space;
    }
  }

  &__subtitle {
    font-family: $font-stack-secondary;
    font-size: 1.5em;
    font-weight: 700;
    color: $orange;
    margin-bottom: 0.5em;
  }

  &__message {
    font-family: $font-stack-secondary;
    color: $dark-white;
    margin-top: calc( $space / 2 );
   }

  &__embed {
    display: block;
    padding-top: calc(56.25% * 2);
    position: relative;

    @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
      padding-top: 56.25%;
    }

    > * {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__chat{
    grid-column: 1 / -1;

    @media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
      grid-column: unset;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}