.vote {
  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    grid-column: 1 / -1;
  }

  @media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */
    grid-column: -2;
  }

  &__message {
    background: $light-black;
    border: none;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.3;
    padding: $space;
    text-align: center;
    color: $orange;
  }
}

/**
  * This component depends on .form
  * TODO (paulshryock): Refactor component to be independent from .form
  **/
.form--vote {
  .form {
    &__fieldset {
      /* Reset background and border */
      /* TODO (paulshryock): Refactor .form__fieldset
      by adding background and border to login and signup components,
      so this does not need to be reset/undeclared. */
      background: $dark-blue;
      border: none;
      text-align: center;
    
      @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
        display: block;
      }
    }

    &__button-group {
      justify-content: center;
      margin-bottom: $space;
    }

    &__group {
      justify-content: center;
      margin-bottom: $space;
    }

    &__input {
      margin: 0 auto;
    }
  }
}

.button--vote {
  margin: 0.5em 0.5em 0 0;

  &:not(.is-active) {
    background: $medium-gray;
    border-color: $gray;

    &:hover,
    &:focus,
    &:active {
      background: $light-gray;
      border-color: $medium-gray;
    }
  }
}

.button--make-bet:not(.is-active) {
  background: $medium-gray;
  border-color: $gray;
  outline: none;

&:hover,
&:focus,
&:active {
   background: $light-gray;
   border-color: $medium-gray;
 }
}
