* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

body {
  background: white;
  color: $light-black;
  font: 400 1rem/1.5 $font-stack-primary;
  margin: 0;
  overflow-y: auto;
  
  /* Fix number height */
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum" 1;
  -moz-font-feature-settings: "tnum=1";
  -ms-font-feature-settings: "tnum" 1;
  -o-font-feature-settings: "tnum" 1;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
}
